* {
  margin: 0;
  padding: 0;
}

.users {
  width: 100vw;
  height: 100vh;
}
.userswrapper {
  display: flex;
  justify-content: space-between;
}

.left {
  display: flex;
  flex-direction: column;
}

.right {
  display: flex;
  flex-direction: column;
}
