.CartItem {
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  box-shadow: 2px 2px 2px gray;
}

.CartItemImage {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.Button {
  width: 150px;
  height: 30px;
  border: none;
  border-radius: 5px;
  background-color: #d5d4d4;
  cursor: pointer;
  color: white;
  background-color: rgb(101, 103, 105);
  cursor: pointer;
}

.ButtonIcon {
  width: 15px;
  height: 15px;
}
